* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(55, 55, 55);
  --main-text-color: white;
  --secondary-color: #a4c2ff;
}

.app {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-color);
}

.nav-links {
  list-style-type: none;
  display: flex;
  column-gap: 1rem;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;

}

.item {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item img {
  width: 40vw;
  height: auto;
  margin-bottom: 1rem;
}

.item button {
  color: var(--main-bg-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  padding-block: 0.4rem;
  padding-inline: 2rem;
  border-radius: 8px;
}

.price::before {
  content: "$";
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}